<!DOCTYPE html>
<html>
  <head>
    <title>ProjectAuthenticationOdin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="nav justify-content-center">
  <%=link_to "Register new", new_user_path, :class =>"nav-link active"%>
  <%if current_user %>
    <%=link_to "#{current_user.username} Sign out" ,session_path(id: current_user.id),:class =>"nav-link active",:method => :DELETE %>
  <%else%>
    <%=link_to "Sign in", new_session_path, :class =>"nav-link active"%>
   <%end%>
    <%=link_to "New post" ,new_post_path,:class =>"nav-link active",:method => :GET %>
  </nav>
    <%= yield %>
  </body>
</html>
